@font-face {
    font-family: 'space_groteskbold';
    src: url('webfont/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('webfont/spacegrotesk-bold-webfont.woff') format('woff'),
         url('webfont/spacegrotesk-bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'space_groteskregular';
    src: url('webfont/spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('webfont/spacegrotesk-regular-webfont.woff') format('woff'),
         url('webfont/spacegrotesk-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'et_book';
    src: url('webfont/et-book-roman-line-figures.woff2') format('woff2'),
         url('webfont/et-book-roman-line-figures.woff') format('woff'),
         url('webfont/et-book-roman-line-figures.ttf') format('ttf')
    font-weight: bold;
    font-style: bold;
}

:root {
  --pink: rgb(225, 0, 110);
  --green: rgb(0, 132, 122);
}

* {
  font-family: 'space_groteskregular';
  /* font-family: 'et_book'; */
  /* font-size: 18px; */
}

.pink {
  color: var(--pink);
}

.green {
  color: var(--green);
}

/** Layout **/
body {
  margin: 0 auto;
  width: 92vw;
  background: rgba(255,255,255,1);
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)), url(/assets/background.svg);
  background-size: auto, 250px;
}

body::after {
  background-image: 
}

@media screen and (min-width: 980px) {
  body {
    display: grid;
    grid-template-areas:  "header header"
                          "sidebar main"
                          "sidefooter footer";
    grid-template-columns: 1fr 85%;
    grid-template-rows: 80px 1fr;
    align-items: baseline;
    grid-column-gap: 80px;
    grid-row-gap: 120px;
    width: 90vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 70%;
    grid-template-rows: 175px 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    width: 90vw;
  }
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  background-color: white;
  padding: 16px
}

.main-content > *:first-child {
  padding-top: 67px;
}
.sidebar {
  grid-area: sidebar;
  align-self: start;
  border-left: none;
  background-color: white;
}
@media screen and (min-width: 980px) {
 
}
@media screen and (min-width: 1200px) {
 .sidebar {
   /* padding: 26px;*/
  }
}

.footer {
  grid-area: footer;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teaser-row {
  margin-top: 80px;
  margin-bottom: 40px;
}

.teaser-row ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 767px) {
  .teaser-row ul {
    flex-direction: row;
  }
}
.teaser-row li {
  padding-right: 32px;
  display: flex; /* make them all the same height */
}


/** Styles **/

h1 {
  font-family: 'space_groteskbold';
  font-size: 30px;
  letter-spacing: -0.8px;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-family: 'space_groteskbold';
  font-size: 20px;
  border-bottom: 6px solid hotpink;
  display: inline-block;
  /* line-height: 26px; menu headings looked good with the tight underline this made*/
  line-height: normal;
  padding: 3px 0;
  margin: 16px 0;
  /* text-transform: uppercase; Bad A11y */
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 30px;
    border-bottom: 10px solid hotpink;
    padding: 4px;
  }
}

h3 {
  font-family: 'space_groteskbold';
  color: rgb(225, 0, 110)
}

p {
  /* font-family: 'et_book'; */
  font-size: 20px;
}

a {
  text-decoration: none;
  border-bottom: 3px dotted rgb(225, 0, 110);
  display: inline-block;
  transition: border-bottom 0.3s, color 0.5s;
}
a::hover {
  border-bottom: 3px solid rgb(0, 132, 122);
}

a::focus {
  color: var(--green);
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}

.title {
  color: black;
}

a.title-link {
  border-bottom: 0;
  line-height: inherit;
}

.header--title {
  font-family: 'space_groteskbold';
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.8px;
}
@media screen and (min-width: 767px) {
  .header--title {
    font-size: 60px;
}

.header--title a {
  font-family: 'space_groteskbold';
  color: var(--pink);
  border-bottom: 0;
  
}

.page-title {
  font-family: 'space_groteskbold';
  letter-spacing: -0.8px;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 767px) {
  .page-title {
    font-size: 80px;
    line-height: 95px;
  }
}

.standfirst {
  font-family: 'space_groteskbold';
  letter-spacing: -0.8px;
  font-size: 20px;
  line-height: 35px;
  margin: 0;
}

.standfirst a {
  font-family: 'space_groteskbold';
  font-size: 40px;
  line-height: 0.75em;
  color: rgb(225, 0, 110);
  border-bottom: 7px dotted rgb(225, 0, 110);
}
.standfirst a:hover {
  border-bottom: 6px solid rgb(0, 132, 122);
}
@media screen and (min-width: 767px) {
  .standfirst {
    font-size: 80px;
    line-height: 95px;
  }
  .standfirst a {
      font-size: 80px;
  }
}

blockquote {
  font-size: 30px;
  color: rgb(0, 132, 122);
}

.intro p {
  font-family: 'space_groteskbold';
  font-size: 24px;
  color: rgb(0, 132, 122);
}

@media screen and (min-width: 767px) {
  .reading-line {
    width: 75%;
  }
}

.reading-line a {
  color: rgb(225, 0, 110);
  line-height: 0.85;
}

/*  Page components */
.button {
  color: rgb(0, 132, 122);
  border-bottom: 0;
  font-family: 'space_groteskbold';
}
.flashbox {
  font-family: 'space_groteskbold';
  background-color: rgba(0,132,122,1);
  padding: 18px;
  color: white;
}

/* Details */
.date {
  font-family: 'space_groteskbold';
  font-style: italic;
  /* color: rgb(0, 132, 122); */
}

.divider {
  /* color: hotpink; */
  padding: 0 0.5em;

}
.tags {
  font-family: 'space_groteskbold';
}
.tags a {
  font-family: 'space_groteskbold';
  border-bottom: 1px solid rgb(225, 0, 110);
  color: rgb(225, 0, 110);
}/* end details */

iframe {
  width: 100%;
  /* Do better */
}

.article {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 25px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,132,122,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,132,122,1);
  box-shadow: 10px 10px 0px 0px rgba(0,132,122,1);
  transition: box-shadow .3s;
}
.article:hover {
  -webkit-box-shadow: 5px 5px 0px 0px hotpink;
  -moz-box-shadow: 5px 5px 0px 0px hotpink;
  box-shadow: 5px 5px 0px 0px hotpink;
}

.sidebar ul {
  list-style: none;
  padding-left: 16px;
  padding-bottom: 16px;
}

.sidebar a {
  font-family: 'space_groteskbold';
  border-bottom: 1px solid rgb(225, 0, 110);
  color: rgb(225, 0, 110);
}

.sidebar a:hover {
  border-bottom: 2px solid rgb(0,132,122);
}

footer a {
  border-bottom: 1px solid rgb(225, 0, 110);
  background-color: white;
  color: rgb(225, 0, 110);
}

footer a:hover {
  border-bottom: 2px solid rgb(0,132,122);
}
